<a href="https://colab.research.google.com/github/DonnaVakalis/nano/blob/master/Scratch_notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Exercises from Python for Data Science

 

## Table of Contents
- [Part I - Environment Setup](#setup)
- [Part II - Data Structures](#dta_struct)
- [Part III - Control Flow](#control_flow)
- [Part IV - Functions](#functions)
- [Part V - Scripting](#scripting)
- [Part VI - Numpy and Pandas](#np_pd)
- [Part VII - Generators](#generators)

 
<a id='setup'></a>
#### Part I - Environment Setup

In [ ]:
import pandas as pd
import numpy as np
import os
from google.colab import drive
%matplotlib inline

# Mount Google Drive
drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/")

base_dir =  "/content/gdrive/My Drive/Colab Notebooks/Udacity_DataScience/"

Mounted at /content/gdrive

<a id='dta_struct'></a>
### Part II - Data Structure Exercises

In [ ]:
# E1 Your task for this quiz is to find the number of unique words in the text.

verse = "if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise"
print(verse, '\n')

# split verse into list of words
verse_list = verse.split()

# convert list to a data structure that stores unique elements
verse_set = set(verse_list)
print(verse_set, '\n')

# print the number of unique words
num_unique = len(verse_set)
print(num_unique, '\n')

if you can keep your head when all about you are losing theirs and blaming it on you   if you can trust yourself when all men doubt you     but make allowance for their doubting too   if you can wait and not be tired by waiting      or being lied about  don’t deal in lies   or being hated  don’t give way to hating      and yet don’t look too good  nor talk too wise

{'yourself', 'way', 'you', 'when', 'your', 'doubt', 'theirs', 'allowance', 'for', 'tired', 'keep', 'doubting', 'too', 'trust', 'not', 'by', 'men', 'make', 'but', 'their', 'yet', 'to', 'good', 'give', 'lies', 'lied', 'and', 'it', 'losing', 'deal', 'don’t', 'wait', 'or', 'in', 'on', 'hating', 'if', 'talk', 'being', 'waiting', 'are', 'be', 'nor', 'blaming', 'all', 'wise', 'look', 'head', 'can', 'hated', 'about'}

51

In [ ]:
#E2 Quiz:  Use this verse dictionary below to answer the following questions... 

verse_dict =  {'if': 3, 'you': 6, 'can': 3, 'keep': 1, 'your': 1, 'head': 1, 'when': 2, 'all': 2, 'about': 2, 'are': 1, 'losing': 1, 'theirs': 1, 'and': 3, 'blaming': 1, 'it': 1, 'on': 1, 'trust': 1, 'yourself': 1, 'men': 1, 'doubt': 1, 'but': 1, 'make': 1, 'allowance': 1, 'for': 1, 'their': 1, 'doubting': 1, 'too': 3, 'wait': 1, 'not': 1, 'be': 1, 'tired': 1, 'by': 1, 'waiting': 1, 'or': 2, 'being': 2, 'lied': 1, 'don\'t': 3, 'deal': 1, 'in': 1, 'lies': 1, 'hated': 1, 'give': 1, 'way': 1, 'to': 1, 'hating': 1, 'yet': 1, 'look': 1, 'good': 1, 'nor': 1, 'talk': 1, 'wise': 1}
print(verse_dict, '\n')

# find number of unique keys in the dictionary
num_keys = len(verse_dict)
print(num_keys)

# find whether 'breathe' is a key in the dictionary
contains_breathe = 'breathe' in verse_dict
print(contains_breathe)

# create and sort a list of the dictionary's keys
sorted_keys =  sorted(verse_dict.keys())

# get the first element in the sorted list of keys
print(sorted_keys[0])

# find the element with the highest value in the list of keys
print(max(sorted_keys))

{'if': 3, 'you': 6, 'can': 3, 'keep': 1, 'your': 1, 'head': 1, 'when': 2, 'all': 2, 'about': 2, 'are': 1, 'losing': 1, 'theirs': 1, 'and': 3, 'blaming': 1, 'it': 1, 'on': 1, 'trust': 1, 'yourself': 1, 'men': 1, 'doubt': 1, 'but': 1, 'make': 1, 'allowance': 1, 'for': 1, 'their': 1, 'doubting': 1, 'too': 3, 'wait': 1, 'not': 1, 'be': 1, 'tired': 1, 'by': 1, 'waiting': 1, 'or': 2, 'being': 2, 'lied': 1, "don't": 3, 'deal': 1, 'in': 1, 'lies': 1, 'hated': 1, 'give': 1, 'way': 1, 'to': 1, 'hating': 1, 'yet': 1, 'look': 1, 'good': 1, 'nor': 1, 'talk': 1, 'wise': 1}

51
False
about
yourself

<a id='control_flow'></a>
### Part III - Control Flow Exercises

In [ ]:
#E1 Write a for loop that iterates over the names list to create a usernames list. To create a username for each name, make everything lowercase and replace spaces with underscores. Running your for loop over the list:
# names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]


# define initial input and initialize empty new list
names = ["Joey Tribbiani", "Monica Geller", "Chandler Bing", "Phoebe Buffay"]
usernames = []

# apply two modifications to each entry in original list
for name in names:
  alias = name.replace(" ","_").lower()
  usernames.append(alias)

print(usernames)

['joey_tribbiani', 'monica_geller', 'chandler_bing', 'phoebe_buffay']

In [ ]:
#E2 Write a for loop that iterates over a list of strings, tokens, and counts how many of them are XML tags.  Keep track of the number of tags using the variable count.

tokens = ['<greeting>', 'Hello World!', '</greeting>']
count = 0

# write your for loop here
for token in tokens:
    if token.startswith('<') and token.endswith('>'):
        count += 1
    

print(count)

2

In [ ]:
#E3 Create a dictionary, word_counter, that keeps track of the total count of each word in a string.

book_title =  ['great', 'expectations','the', 'adventures', 'of', 'sherlock','holmes','the','great','gasby','hamlet','adventures','of','huckleberry','fin']
word_counter = {}

for word in book_title:
    word_counter[word] = word_counter.get(word,0)+1
    
print(word_counter)

{'great': 2, 'expectations': 1, 'the': 2, 'adventures': 2, 'of': 2, 'sherlock': 1, 'holmes': 1, 'gasby': 1, 'hamlet': 1, 'huckleberry': 1, 'fin': 1}

In [ ]:
# E4 You would like to count the number of fruits in your basket. 
# Use the dictionary and list to count the total number
# of fruits, but you do not want to count the other items in your basket.

result = 0
basket_items = {'apples': 4, 'oranges': 19, 'kites': 3, 'sandwiches': 8}
fruits = ['apples', 'oranges', 'pears', 'peaches', 'grapes', 'bananas']

#Iterate through the dictionary
for fruit, count in basket_items.items():
    print(fruit,count)
    #if the key is in the list of fruits, add the value (number of fruits) to result
    if fruit in fruits:
        result += count

print("Total number of fruits: {}".format(result))

apples 4
oranges 19
kites 3
sandwiches 8
Total number of fruits: 23

In [ ]:
#E5 Suppose you want to count from some number start_num by another number 
# count_by until you hit a final number end_num. Use break_num as the variable 
# that you'll change each time through the loop. For simplicity, assume that 
# count_by is always positive.

start_num = 1 #provide some start number
end_num = 15 #provide some end number that you stop when you hit
count_by = 2 #provide some number to count by 
 

# write a while loop that uses break_num as the ongoing number to 
#   check against end_num
if start_num > end_num:
    result = "Oops! Please try a start value that is less than the end value."
else:
    break_num = start_num
    while break_num <= end_num:
        #print(break_num)
        result = break_num
        break_num += count_by
     

print(result)

15

In [ ]:
# E6 Write a while loop that finds the largest square number less than an integer
# limit and stores it in a variable nearest_square. 

limit = 40

# initialize counters and list to store squares
x = 1
nearest_square = [1]
i = 0

# check the square against the limit
while (nearest_square[i] < limit):
    i += 1
    nearest_square.append(x**2)
    x += 1
    
    
print(nearest_square[i-1])


# A much more elegant solution: 
num = 0
while (num+1)**2 < limit:
    num += 1
nearest_square = num**2

print(nearest_square)

36
36

In [ ]:
# E7 create a string, news_ticker, that is exactly 140 characters long. You should 
# create the news ticker by adding headlines from the headlines list, inserting a space 
# in between each headline. If necessary, truncate the last headline in the middle 
# so that news_ticker is exactly 140 characters long.

headlines = ["Local Bear Eaten by Man",
             "Legislature Announces New Laws",
             "Peasant Discovers Violence Inherent in System",
             "Cat Rescues Fireman Stuck in Tree",
             "Brave Knight Runs Away",
             "Papperbok Review: Totally Triffic"]

news_ticker = ""
i = 0
# write your loop here

while (len(news_ticker)<140):
    amnt_to_add = 140-len(news_ticker)
    news_ticker = news_ticker + headlines[i][:amnt_to_add] + " "
    i += 1
  
print(news_ticker[:140])

# Alternatively

news_ticker = ""
for headline in headlines:
    news_ticker += headline + " "
    if len(news_ticker) >= 140:
        news_ticker = news_ticker[:140]
        break

print(news_ticker)

Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave
Local Bear Eaten by Man Legislature Announces New Laws Peasant Discovers Violence Inherent in System Cat Rescues Fireman Stuck in Tree Brave

In [ ]:
# E8 write code to check if the numbers provided in the list check_prime are prime numbers.

check_prime = [26, 39, 51, 53, 57, 79, 85]

for element in check_prime:
    possible_factors_list = list(range(2,element-1))
    list_of_factors = []

    for factor in possible_factors_list:
        
        if (element%factor) == 0:
            list_of_factors.append(factor)
    if len(list_of_factors) == 0:
        print("{} IS a prime number".format(element))
    else:
        print("{} IS NOT a prime number, with the following factors: {} ".format(element,list_of_factors))

26 IS NOT a prime number, with the following factors: [2, 13]
39 IS NOT a prime number, with the following factors: [3, 13]
51 IS NOT a prime number, with the following factors: [3, 17]
53 IS a prime number
57 IS NOT a prime number, with the following factors: [3, 19]
79 IS a prime number
85 IS NOT a prime number, with the following factors: [5, 17]

In [ ]:
# E9 Use zip to write a for loop that creates a string specifying the label and 
# coordinates of each point and appends it to the list points. Each string 
# should be formatted as label: x, y, z. 

x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here
points = list(zip(labels,  x_coord, y_coord, z_coord))

for point in points:
    print("{} : {}, {}. {}".format(point[0],point[1],point[2],point[3]))

F : 23, 677. 4
J : 53, 233. 16
A : 2, 405. -6
Q : -12, 433. -42
Y : 95, 905. 3
B : 103, 376. -6
W : 14, 432. 23
X : -5, 445. -1

In [ ]:
#E10 Use zip to create a dictionary cast that uses names as keys and heights as values.

cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast =dict(zip(cast_names,cast_heights))
print(cast)

{'Barney': 72, 'Robin': 68, 'Ted': 72, 'Lily': 66, 'Marshall': 76}

In [ ]:
#E 11 Use zip to write a for loop that creates a string specifying the label and 
# coordinates of each point and appends it to the list points. Each string should 
# be formatted as label: x, y, z. For example, the string for the first coordinate should be F: 23, 677, 4.

x_coord = [23, 53, 2, -12, 95, 103, 14, -5]
y_coord = [677, 233, 405, 433, 905, 376, 432, 445]
z_coord = [4, 16, -6, -42, 3, -6, 23, -1]
labels = ["F", "J", "A", "Q", "Y", "B", "W", "X"]

points = []
# write your for loop here
points = list(zip(labels,  x_coord, y_coord, z_coord))

for point in points:
    one_line = point[0] + ": "+ str(point [1]) + ", " + str(point[2]) + ", " + str(point[3])
    print(one_line)

F: 23, 677, 4
J: 53, 233, 16
A: 2, 405, -6
Q: -12, 433, -42
Y: 95, 905, 3
B: 103, 376, -6
W: 14, 432, 23
X: -5, 445, -1

In [ ]:
#E 12 Use zip to create a dictionary cast that uses names as keys and heights as values.
# Then Unzip the cast tuple into two names and heights tuples.

cast_names = ["Barney", "Robin", "Ted", "Lily", "Marshall"]
cast_heights = [72, 68, 72, 66, 76]

cast =dict(zip(cast_names,cast_heights))

# define names and heights here
names = []
heights = []

for element in cast:
    names.append(element[0])
    heights.append(element[1])

names = tuple(names)
heights = tuple(heights)

print(names)
print(heights)

('B', 'R', 'T', 'L', 'M')
('a', 'o', 'e', 'i', 'a')

In [ ]:
# E13 Use enumerate to modify the cast list so that each element contains the name 
# followed by the character's corresponding height. For example, the first element 
# of cast should change from "Barney Stinson" to "Barney Stinson 72".

cast = ["Barney Stinson", "Robin Scherbatsky", "Ted Mosby", "Lily Aldrin", "Marshall Eriksen"]
heights = [72, 68, 72, 66, 76]

# write your for loop here

for position, name in enumerate(cast):
    cast[position] = name + " " + str(heights[position])

print(cast)

['Barney Stinson 72', 'Robin Scherbatsky 68', 'Ted Mosby 72', 'Lily Aldrin 66', 'Marshall Eriksen 76']

In [ ]:
# E14 Use a list comprehension to create a new list first_names containing 
# just the first names in names in lowercase.

names = ["Rick Sanchez", "Morty Smith", "Summer Smith", "Jerry Smith", "Beth Smith"] 

first_names = [name.split()[0].lower() for name in names]
print(first_names)

['rick', 'morty', 'summer', 'jerry', 'beth']

In [ ]:
# E15 Use a list comprehension to create a list of names passed that only include those that scored at least 65.

scores = {
             "Rick Sanchez": 70,
             "Morty Smith": 35,
             "Summer Smith": 82,
             "Jerry Smith": 23,
             "Beth Smith": 98
          }

# passed = [key for key in scores.keys() if scores[key] >= 65]
passed = [name for name, score in scores.items() if score >= 65]
print(passed)

['Rick Sanchez', 'Summer Smith', 'Beth Smith']

In [ ]:
### E 16 Please provide a list with the name(s) of the director(s) with 
### the most Oscar wins. The list can hold the names of multiple directors,
### since there can be more than 1 director tied with the most Oscar wins.

winners = {1931: ['Norman Taurog'], 1932: ['Frank Borzage'], 1933: ['Frank Lloyd'], 1934: ['Frank Capra'], 1935: ['John Ford'], 1936: ['Frank Capra'], 1937: ['Leo McCarey'], 1938: ['Frank Capra'], 1939: ['Victor Fleming'], 1940: ['John Ford'], 1941: ['John Ford'], 1942: ['William Wyler'], 1943: ['Michael Curtiz'], 1944: ['Leo McCarey'], 1945: ['Billy Wilder'], 1946: ['William Wyler'], 1947: ['Elia Kazan'], 1948: ['John Huston'], 1949: ['Joseph L. Mankiewicz'], 1950: ['Joseph L. Mankiewicz'], 1951: ['George Stevens'], 1952: ['John Ford'], 1953: ['Fred Zinnemann'], 1954: ['Elia Kazan'], 1955: ['Delbert Mann'], 1956: ['George Stevens'], 1957: ['David Lean'], 1958: ['Vincente Minnelli'], 1959: ['William Wyler'], 1960: ['Billy Wilder'], 1961: ['Jerome Robbins', 'Robert Wise'], 1962: ['David Lean'], 1963: ['Tony Richardson'], 1964: ['George Cukor'], 1965: ['Robert Wise'], 1966: ['Fred Zinnemann'], 1967: ['Mike Nichols'], 1968: ['Carol Reed'], 1969: ['John Schlesinger'], 1970: ['Franklin J. Schaffner'], 1971: ['William Friedkin'], 1972: ['Bob Fosse'], 1973: ['George Roy Hill'], 1974: ['Francis Ford Coppola'], 1975: ['Milos Forman'], 1976: ['John G. Avildsen'], 1977: ['Woody Allen'], 1978: ['Michael Cimino'], 1979: ['Robert Benton'], 1980: ['Robert Redford'], 1981: ['Warren Beatty'], 1982: ['Richard Attenborough'], 1983: ['James L. Brooks'], 1984: ['Milos Forman'], 1985: ['Sydney Pollack'], 1986: ['Oliver Stone'], 1987: ['Bernardo Bertolucci'], 1988: ['Barry Levinson'], 1989: ['Oliver Stone'], 1990: ['Kevin Costner'], 1991: ['Jonathan Demme'], 1992: ['Clint Eastwood'], 1993: ['Steven Spielberg'], 1994: ['Robert Zemeckis'], 1995: ['Mel Gibson'], 1996: ['Anthony Minghella'], 1997: ['James Cameron'], 1998: ['Steven Spielberg'], 1999: ['Sam Mendes'], 2000: ['Steven Soderbergh'], 2001: ['Ron Howard'], 2002: ['Roman Polanski'], 2003: ['Peter Jackson'], 2004: ['Clint Eastwood'], 2005: ['Ang Lee'], 2006: ['Martin Scorsese'], 2007: ['Ethan Coen', 'Joel Coen'], 2008: ['Danny Boyle'], 2009: ['Kathryn Bigelow'], 2010: ['Tom Hooper']}
 
win_count_dict = {}

for winner_list in winners.values():
    for winner in winner_list:
        win_count_dict[winner] = win_count_dict.get(winner, 0) + 1 

# find max value of dictionary
max_wins = max(win_count_dict.values()) #4

# report all keys within dictionary that equal max
most_win_director = [name for name, wins in win_count_dict.items() if wins == max_wins]
 
print("most_win_director = {}".format(most_win_director))

<a id='functions'></a>
### Part IV - Functions


#### Notes on Scope:

In [ ]:

egg_count = 0

def buy_eggs():
    # NOTE 
    # egg_count = egg_count + 12  #****This is NOT ok**** thinks egg_count is now local but referenced before assignment
    test = egg_count + 12   # This is FINE. refs a global var

buy_eggs()

#### Notes on Docstrings:

In [ ]:
# example of formatting docstring:
def some_function(input_arg1,input_arg2):
    """
    This is an example of Google style.

    Args:
        param1: This is the first param.
        param2: This is a second param.

    Returns:
        This is a description of what is returned.
    """

In [ ]:
#E1 Write a function named readable_timedelta. The function should take one argument, 
# an integer days, and return a string that says how many weeks and days that is.

def readable_timedelta(days):
    """
    Converts a number of days to the equivalent in week(s) and day(s).
    """
    return ("{} week(s) and {} day(s).".format(days//7,days%7))

print(readable_timedelta(10))

In [ ]:
# E2 Some useful examples of lambda functions in combination with higher-order functions map and filter
# EXAMPLE 1
numbers = [
              [34, 63, 88, 71, 29],
              [90, 78, 51, 27, 45],
              [63, 37, 85, 46, 22],
              [51, 22, 34, 11, 18]
           ]

# calculate the average of a list
mean = lambda num_list : sum(num_list) / len(num_list)

# map() is a higher-order built-in function that takes a function and iterable as inputs, 
# and returns an iterator that applies the function to each element of the iterable. 
averages = list(map(mean, numbers))
print(averages)


# EXAMPLE 2
cities = ["New York City", "Los Angeles", "Chicago", "Mountain View", "Denver", "Boston"]

# return TRUE if fewer than 10 chars
is_short = lambda name : len(name) < 10 

# create a list from cities list, filtering for those with fewer than 10 chars
# filter() is a higher-order built-in function that takes a function and iterable 
# as inputs and returns an iterator with the elements from the iterable for which the function returns True. 
short_cities = list(filter(is_short, cities))
print(short_cities)

[57.0, 58.2, 50.6, 27.2]
['Chicago', 'Denver', 'Boston']

<a id='np_pd'></a>
### Part VI - Numpy and Pandas Exercises

In [ ]:
# E1 Numpy: 

# Using the Built-in functions you learned about in the
# previous lesson, create a 4 x 4 ndarray that only
# contains consecutive even numbers from 2 to 32 (inclusive)

import numpy as np

X = np.arange(2,33,2).reshape(4,4)

Y = np.linspace(2,32,16).reshape(4,4)

In [ ]:
# E2 Numpy, Slicing
# Create a 5 x 5 ndarray with consecutive integers from 1 to 25 (inclusive).
# Afterwards use Boolean indexing to pick out only the odd numbers in the array

import numpy as np

# Create a 5 x 5 ndarray with consecutive integers from 1 to 25 (inclusive).
X = np.arange(1,26).reshape(5,5)

# Use Boolean indexing to pick out only the odd numbers in the array
Y = X[(X%2!=0)]

In [ ]:
#E3 Numpy, Broadcasting
# Use Broadcasting to create a 4 x 4 ndarray that has its first
# column full of 1s, its second column full of 2s, its third
# column full of 3s, etc.. 

X = np.ones((4,4))
Y = [1,2,3,4]
print(X*Y)

[[1. 2. 3. 4.]
 [1. 2. 3. 4.]
 [1. 2. 3. 4.]
 [1. 2. 3. 4.]]

In [2]:
#E4 Pandas

import pandas as pd

# Given a list representing a few planets
planets = ['Earth','Saturn', 'Venus', 'Mars', 'Jupiter']

# Given the distance from the Sun is in units of 10^6 km
distance_from_sun = [149.6, 1433.5, 108.2, 227.9, 778.6]

# TO DO: Create a Pandas Series using the lists above, representing the distance of some planets from the Sun.
dist_planets = pd.Series(data= distance_from_sun, index=planets)


# Calculate the time (minutes) it takes sunlight to reach each planet.  
# Use the speed of light, c = 18, since light travels 18 x 10^6 km/minute.
c = 18
time_light = dist_planets/c


# TO DO: select only those planets for which sunlight takes less
# than 40 minutes to reach them.
print(time_light[time_light<40])

Earth     8.311111
Venus     6.011111
Mars     12.661111
dtype: float64